# Source Control
.git/
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Documentation
README.md
LICENSE

# Testing
coverage/
*_test.go

# Frontend Source (Built externally, only 'public' is needed)
src/
package.json
yarn.lock
.yarnrc.yml
vite.config.js
eslint.config.mjs
prerender-urls.json

# Build tools & temporary files
node_modules/
size-plugin.json
.nyc_output/
.pnp.*
.yarn/
*.log
*.swp
*.swo
.DS_Store
