{
  "env": {
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
  ],
  "rules": {
    "indent": [ 2, 4, { "SwitchCase": 1, "VariableDeclarator": 1 } ],
    "linebreak-style": 2,
    "no-mixed-requires": [ 2, { "grouping": true, "allowCall": false } ],
    "one-var": [ 2, "never" ],
    "global-require": 2,
    "comma-style": [ 2, "last" ],
    "dot-notation": 0,
    "no-unused-vars": 2,
    "no-undef": 2,
    "quote-props": [ 2, "as-needed", { "unnecessary": true, "numbers": false } ],
    "no-underscore-dangle": 2,
    "object-curly-spacing": [ 2, "always" ],
    "no-multiple-empty-lines": [ 2, { "max": 1, "maxEOF": 1 } ]
  }
}
