{
  "env": {
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
  ],
  "rules": {
    "comma-style": ["error", "first", {"exceptions": {"ObjectExpression": true}}],
    "comma-dangle": ["error", "always-multiline"],
    "dot-notation": "error",
    "no-unused-vars": "error",
    "no-undef": "error",
    "one-var-declaration-per-line": ["error", "initializations"]
  }
}
