version: '3.8'
services:
  mongo:
    image: mongo:4.4
    restart: always
    expose:
      - 27017
    volumes:
      - mongo-data:/data/db

  raiapi:
    build: .
    restart: always
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/raiapi
      - PORT=3000
    depends_on:
      - mongo

volumes:
  mongo-data:
