.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.card {
    align-self: center;
    padding: 10px;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}

.card  * {
    width: 100%;
}

.card-media > img {
    width: 100%
}

.react-calendar {
    border: none;
}
