html, body {
    --mdc-theme-primary: #2199E8;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v29/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
}

body > div {
    display: flex;
    flex-flow: column;
    align-self: center;
}

h1 {
    align-self: center;
}

.mdc-top-app-bar--fixed-adjust {
    margin-bottom: 1rem;
}

.mdc-select * {
    width: 100%;
}

.mdc-select__anchor {
    margin-top: 1rem;
}

.mdc-select .mdc-select__dropdown-icon {
    filter: grayscale(1);
}

.mdc-linear-progress {
    margin-top: 2rem !important;
    margin-bottom: 1rem;
}

.mdc-card {
    align-self: center;
    padding: 10px;
    width: 90%;
    margin: 0 10px 1rem 10px;
}

.react-calendar__tile--active {
    background: var(--mdc-theme-primary) !important;
}

.mdc-card__media, div > video {
    margin-top: 1rem;
}

.card-media > img {
    width: 100%
}

.react-calendar {
    border: none !important;
    width: 100% !important;
}
