name: CI

on:
  push:
    branches-ignore:
      - 'master'

jobs:
  fixups:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Check if there are fixup commits
      run: git log --pretty=format:%s origin/master.. | xargs | grep -v fixup
  version:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check version bump
        run: git diff --diff-filter=M origin/master -- "package.json" | grep "version"
  test:
    runs-on: ubuntu-latest
    services:
      mongo:
        image: mongo:4-bionic
        ports:
          - 27017/tcp
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: 22
    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'
    - name: Install yarn
      run: npm install --global --force yarn@1.22.22
    - name: Install dependencies
      run: yarn
    - name: Build Frontend
      run: yarn build
    - name: Build Backend
      run: go build -v -o raiapi ./cmd/server
    - name: Run Go Tests
      run: go test -v ./...
    - name: Run Dredd with mongodb cache empty
      env:
        MONGO_URL: mongodb://localhost:${{ job.services.mongo.ports['27017'] }}/raiapi-test
        PORT: 3333
      run: npx dredd
    - name: Run Dredd with mongodb cache full
      env:
        MONGO_URL: mongodb://localhost:${{ job.services.mongo.ports['27017'] }}/raiapi-test
        PORT: 3333
      run: npx dredd
    - name: Run Dredd with mongodb cache not available
      env:
        PORT: 3333
        # No MONGO_URL means no cache
      run: npx dredd
